.full-width{
    background-color: #F0FFF0;
    height: 576px;
}

.container-fluid{
    background-color: #F0FFF0;
    
}
.navbar-brand img{
    width: 200px;
}
.nav-item{
    font-size: 16px;
    font-weight: 800;
    padding: 20px;
}
.buy-now-button{
    background-color: #21B573;
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    border: none;
    border-radius: 33px;
    padding: 12px 28px;
    cursor: pointer;
}
.image img{
    width:600px;
}
.learn{
    padding: 10px 20px;
}
.learn h3{
    font-size: 16px;
    color: #FD511A;
    
}
.learn h1{
    font-size: 58px;
    font-weight: 800;
}
.row{
    margin-top: 40px;
}
.any{
    color: #21B573;

}
img.card-img-top{
    width: 66px;
}
.book img{
    width: 100px;
    align-items: center;
    text-align: center;
    padding: 25px 20px;
}
.card{
    padding: 20px;
    border: none;
}
.card-body img{
    width: 100px;
}
.card-body{
    text-align: center;
    padding: 20px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-body:hover{
    background-color: #F0FFF0;
}
h5{
    margin-top: 10px;
    font-size: 24px;
    font-weight: 500;
}
.crd{
    padding-bottom: 20px;
}
.photos img{
    width: 374px;
    height: 234px;
}
h6{
    text-align: center;
    font-size: 48px;
}
.cl-md-6 img{
    width: 100px;
}
.photo img{
    width: 100px;
}
.photo{
    padding: 30px 0px 11px 385px;
}
.txt p{
    padding: 30px 90px 0px 0px;
    font-size: 18px;
    font-weight: 500;
}
footer{
    text-align: center;
    background-color: #282531;
    color: #fff;
    padding-top: 10px;
}
ul li{
    list-style: none;
    text-align: justify;
}
ul li a{

    text-decoration: none;
    color: #fff;
}
h2{
    text-align: justify;
    padding-left: 25px;
}